<% if assignment.status(current_user).name != "Future" %>
  <%= link_to '<i class="fa fa-edit" title="Take Assignment"></i>'.html_safe, assignment_path(assignment) %>
<% else %>
  <i class="fa fa-edit muted" title="Take Assignment"></i>
<% end %>

<% if current_user && current_user.teaching?(assignment.course) %>
  <% if assignment.status(current_user).name == "Future" %>
    <i class="fa fa-legal muted"></i>
    <i class="fa fa-bar-chart-o muted"></i>
  <% else %>
    <% if assignment.students_can_submit %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_assignment_path(assignment) %>
    <% else %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_matrix_assignment_path(assignment) %>
    <% end %>
    <%= link_to '<i class="fa fa-bar-chart-o" title="View Grades"></i>'.html_safe, view_grades_assignment_path(assignment) %>
    <%= link_to '<i class="fa fa-calendar" title="Change Date"></i>'.html_safe, "#myModal#{assignment.id}", data: {toggle: "modal"} %>
    <div id="myModal<%= assignment.id %>" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change Date for <%= assignment.name %></h3>
      </div>
      <%= form_for(assignment) do |f| %>
      <div class="modal-body">
        <div class="well">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <%= f.label :active_at %>
                  <%= f.text_field :active_at, class: "datetimepicker" %>
                </th>
                <th>
                  <%= f.label :due_at %>
                  <%= f.text_field :due_at, class: "datetimepicker"  %>                  </th>
              </tr>
            </thead>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-mini" %>
<% end %>
